@import url("https://fonts.googleapis.com/css2?family=Quicksand:wght@300;400;500;600;700&display=swap");

/* base styles */
:root {
  --primary: #166ae8;
  --input-border: #8b8a8b;
  --input-focus-h: 245;
  --input-focus-s: 100%;
  --input-focus-l: 42%;
}
body {
  padding: 0;
  margin: 0 20px;
  font-family: "Quicksand", sans-serif;
  color: #444;
  background: #f2f2f2;
}
a {
  color: inherit;
  text-decoration: none;
}
.container {
  max-width: 960px;
  margin: 0 auto;
}

/* navbar */
nav {
  margin: 20px auto 40px;
  display: flex;
  align-items: center;
}
nav h1 {
  margin-left: 10px;
}
nav ul {
  margin-left: auto;
  list-style-type: none;
  padding: 0;
}
nav li {
  display: inline-block;
  margin-left: 16px;
}
nav li.btn {
  padding: 10px 16px;
  border: 2px solid var(--primary);
  border-radius: 30px;
  font-weight: 600;
  color: var(--primary);
  cursor: pointer;
}
nav li.btn:hover {
  color: white;
  background: var(--primary);
}

/* banner */
.banner img {
  border-radius: 6px;
}

.site-footer {
  background-color: #f2f2f2;
  padding: 45px 0 20px;
  font-size: 15px;
  line-height: 24px;
  color: #444;
  position: fixed;

  left: 0;
  bottom: 0;
  width: 100%;
  text-align: center;
}

.site-footer a {
  color: #737373;
}

.site-footer a:hover {
  color: #3366cc;
  text-decoration: none;
}
.copyright-text {
  margin: 0;
}

.customebutton {
  background-color: #83294b; /* Green */
  border: none;
  color: white;
  padding: 15px 32px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  transition-duration: 0.4s;
}

.customebutton:hover {
  background-color: #eb2929; /* Green */
  color: white;
}
.submitbutton {
  background-color: #1f3375; /* Green */
  border: none;
  color: white;
  padding: 15px 32px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  transition-duration: 0.4s;
}

.submitbutton:hover {
  background-color: #91dfe9; /* Green */
  color: white;
}

input {
  width: 100%;
  height: 40px;
  font-size: 16px;
  transition: 0.6s;
  border: none;
  border-bottom: 1px solid #ccc;
  background-color: transparent;
}
input:focus {
  outline: none;
  border-bottom: 1px solid #28a2a2;
}

select {
  display: block;
  width: 290px;
  padding: 20px;
  border: 1px solid #00f;
  border-radius: 0;
  font-family: serif;
  font-size: 1em;
  background: lighten(#00f, 25%);
  color: rgb(44, 40, 40);
}
select:before {
  content: "Hello!";
  display: block;
  width: 50px;
  height: 50px;
  background: black;
  color: white;
}
select:after {
  content: "Hello!";
  display: block;
  width: 50px;
  height: 50px;
  background: black;
  color: white;
}

option {
  @extend select;
}
