@import url("https://fonts.googleapis.com/css2?family=Quicksand:wght@300;400;500;600;700&display=swap");

/* base styles */
:root {
  --primary: #166ae8;
}
body {
  padding: 0;
  margin: 0 20px;
  font-family: "Quicksand", sans-serif;
  color: #444;
  background: #f2f2f2;
}
a {
  color: inherit;
  text-decoration: none;
}
.container {
  max-width: 960px;
  margin: 0 auto;
}

/* navbar */
nav {
  margin: 20px auto 40px;
  display: flex;
  align-items: center;
}
nav h1 {
  margin-left: 10px;
}
nav ul {
  margin-left: auto;
  list-style-type: none;
  padding: 0;
}
nav li {
  display: inline-block;
  margin-left: 16px;
}
nav li.btn {
  padding: 10px 16px;
  border: 2px solid var(--primary);
  border-radius: 30px;
  font-weight: 600;
  color: var(--primary);
  cursor: pointer;
}
nav li.btn:hover {
  color: white;
  background: var(--primary);
}

/* banner */
.banner img {
  border-radius: 6px;
}

.site-footer {
  background-color: #f2f2f2;
  padding: 45px 0 20px;
  font-size: 15px;
  line-height: 24px;
  color: #444;
  position: fixed;

  left: 0;
  bottom: 0;
  width: 100%;
  text-align: center;
}

.site-footer a {
  color: #737373;
}

.site-footer a:hover {
  color: #3366cc;
  text-decoration: none;
}
.copyright-text {
  margin: 0;
}

.customebutton {
  background-color: #83294b; /* Green */
  border: none;
  color: white;
  padding: 15px 32px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  transition-duration: 0.4s;
}

.customebutton:hover {
  background-color: #eb2929; /* Green */
  color: white;
}
