@import url("https://fonts.googleapis.com/css2?family=Quicksand:wght@300;400;500;600;700&display=swap");

/* base styles */
:root {
  --primary: #166ae8;
  --input-border: #8b8a8b;
  --input-focus-h: 245;
  --input-focus-s: 100%;
  --input-focus-l: 42%;
}
body {
  padding: 0;
  margin: 0 20px;
  font-family: "Quicksand", sans-serif;
  color: #444;
  background: #f2f2f2;
}
a {
  color: inherit;
  text-decoration: none;
}
.container {
  max-width: 960px;
  margin: 0 auto;
}


/* banner */
.banner img {
  border-radius: 6px;
}




input {
  width: 100%;
  height: 40px;
  font-size: 16px;
  transition: 0.6s;
  border: none;
  border-bottom: 1px solid #ccc;
  background-color: transparent;
}
input:focus {
  outline: none;
  border-bottom: 1px solid #28a2a2;
}

select {
  display: block;
  width: 290px;
  padding: 20px;
  border: 1px solid #00f;
  border-radius: 0;
  font-family: serif;
  font-size: 1em;
  background: lighten(#00f, 25%);
  color: rgb(44, 40, 40);
}
select:before {
  content: "Hello!";
  display: block;
  width: 50px;
  height: 50px;
  background: black;
  color: white;
}
select:after {
  content: "Hello!";
  display: block;
  width: 50px;
  height: 50px;
  background: black;
  color: white;
}

option {
  @extend select;
}
